<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
<form>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <select name="USE" class="form-control" title="Single Select">
                <option disabled selected> Car use</option>
                <option value="1">Private and professional</option>
                <option value="2">Utility vehicle 1 vehicle with GVW 3500 kg (including road use )</option>
                <option value="3">Agricultural Tractor and Combine Harvester.</option>
                <option value="4">Agricultural 1 vehicle with gross vehicle weight 3500 kg </option>
                <option value="5">Utility 2 vehicle with GVW> 3500 kg</option>
                <option value="6">Taxi</option>
                <option value="7">MAZDA</option>
                <option value="8">Others</option>
              </select>
            </div>

          </div>
          <div class="col-md-5">



            <div class="form-group">
              <select name="GROUP" class="form-control" title="Single Select">
                <option disabled selected> Car groups</option>
                <option value="1">RenaultNissanMitsubishi</option>
                <option value="2">VOLKSWAGEN_AG</option>
                <option value="3">DAIMLER</option>
                <option value="4">TOYOTA </option>
                <option value="5">FORD</option>
                <option value="6">ISUZU</option>
                <option value="7">MAZDA</option>
                <option value="8">BMW</option>
                <option value="9">AUTRES</option>

              </select>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <select name="VRT" class="form-control" title="Single Select">
                <option disabled selected> Vehicule Registration Type </option>
                <option value="1">TU</option>
                <option value="2">RS</option>
                <option value="3">TRAC</option>
                <option value="4">ES </option>
                <option value="5">CD</option>
                <option value="6">MD</option>
                <option value="7">AUTRES</option>

              </select>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <select class="form-control" title="Single Select">

                <option name="ENERGIE" disabled selected> Energie</option>
                <option value="1">GASOIL</option>
                <option value="2">ESSENCE</option>
                <option value="3">ESS-GAZ GPL</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-5">
            <div class="form-group">
              <label class="bmd-label-floating">Fiscal Power</label>
              <input type="number" min="0" class="form-control" name="FP">
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label class="label"> Date Effet Police</label>
              <input name="DEP" class="form-control" type="date"></input>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="bmd-label-floating">Nature Police</label>
              <div>
                <label class="form-check-label">
                  <span style="margin-right: 3mm;" ></span>
                  <input class="form-check-input"  type="radio" name="NaturePolice" id="exampleRadios1" value="R">
                  R
                  <span class="circle" >
                    <span class="check"></span>
                  </span>
                </label>
              </div>

              <div>

                </span>
                <label class="form-check-label">
                  <span style="margin-right: 3mm;" ></span>
                  <input class="form-check-input " type="radio" name="NaturePolice" id="exampleRadios2" value="T"
                    checked>
                  T
                  <span class="circle">
                    <span class="check "></span>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="bmd-label-floating">Type Police</label>
              <div>
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="TypePolice" id="example_Radios1" value="FLOTTE">
                  FLOTTE
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div>
                <label class="form-check-label">
                  <input class="form-check-input " type="radio" name="TypePolice" id="example_Radios2"
                    value="INDIVIDUELLE" checked>
                  INDIVIDUELLE
                  <span class="circle">
                    <span class="check "></span>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="bmd-label-floating">Etat Police</label>
              <div>
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="EtatPolice" id="example_RadiosI1" value="V">
                  v
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div>
                <label class="form-check-label">
                  <input class="form-check-input " type="radio" name="EtatPolice" id="example_RadiosI2" value="R"
                    checked>
                  R
                  <span class="circle">
                    <span class="check "></span>
                  </span>
                </label>
              </div>

              <div>
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="EtatPolice" id="example_RadiosI3" value="S">
                  S
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
            </div>
          </div>


          <div class="col-md-3">
            <div class="form-group">
              <label class="bmd-label-floating">Type Intermidaire</label>
              <div>
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="TypeIntermidaire" id="example_RadiosII1" value="1">
                  1
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div>
                <label class="form-check-label">
                  <input class="form-check-input " type="radio" name="TypeIntermidaire" id="example_RadiosII2" value="2"
                    checked>
                  2
                  <span class="circle">
                    <span class="check "></span>
                  </span>
                </label>
              </div>

              <div>
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="TypeIntermidaire" id="example_RadiosII3" value="3">
                  3
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-danger pull-right">Update Profile</button>
        <div class="clearfix"></div>
      </form>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
    -->
  </body>
</html>
